.container {
    background-color: #333;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 110px 0;
}

.footer {
    width: 1140px;
}

.titles {
    width: 100%;
    display: flex;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.title:nth-child(1) {
    width: calc(100% / 4 + 150px);
}
.title:nth-child(2) {
    width: calc(100% / 2 - 150px);
}
.title:nth-child(3) {
    width: calc(100% / 4);
}

.columns {
    width: 100%;
    display: flex;
    color: rgba(255, 255, 255, 0.5);
}

.column {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.column:nth-child(1) {
    width: calc(100% / 4 + 120px);
}
.column:nth-child(2) {
    width: calc(100% / 2 - 180px);
}
.column:nth-child(3) {
    width: calc(100% / 4 - 30px);
}

.description {
    margin-bottom: 30px;
    line-height: 30px;
}

.manager {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.manager div {
    color: #fff;
    margin-left: 5px;
}

.contact_information {
    margin-bottom: 15px;
}

.inf_title {
    margin-bottom: 5px;
    color: #6c757d;
}

.inf_desc {
    line-height: 25px;
    color: #fff;
}

.column a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}
.column a:hover {
    text-decoration: none;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
}

.creator {
    color: #fff;
    margin-left: 5px;
}

.column_title {
    width: 100%;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: #fff;
    display: none;
}

/* Responsive */

@media (max-width: 1025px) {
    .footer {
        width: 960px;
    }

    .title:nth-child(1) {
        width: calc(100% / 4 + 100px);
    }
    .title:nth-child(2) {
        width: calc(100% / 2 - 120px);
    }
    .title:nth-child(3) {
        width: calc(100% / 4 + 20px);
    }

    .column:nth-child(1) {
        width: calc(100% / 4 + 70px);
    }
    .column:nth-child(2) {
        width: calc(100% / 2 - 150px);
    }
    .column:nth-child(3) {
        width: calc(100% / 4 - 10px);
    }
}

@media (max-width: 769px) {
    .footer {
        width: 690px;
    }

    .title:nth-child(1) {
        width: calc(100% / 4 + 70px);
    }
    .title:nth-child(2) {
        width: calc(100% / 2 - 90px);
    }
    .title:nth-child(3) {
        width: calc(100% / 4 + 20px);
    }

    .column {
        padding-right: 50px;
    }

    .column:nth-child(1) {
        width: calc(100% / 4 + 20px);
    }
    .column:nth-child(2) {
        width: calc(100% / 2 - 130px);
    }
    .column:nth-child(3) {
        width: calc(100% / 4 - 30px);
    }
}

@media (max-width: 501px) {
    .footer {
        width: calc(100% - 50px);
    }

    .columns {
        flex-direction: column;
    }

    .column {
        margin-bottom: 80px;
    }

    .column:nth-child(1) {
        width: 100%;
    }
    .column:nth-child(2) {
        width: 100%;
    }
    .column:nth-child(3) {
        width: 100%;
    }

    .copyright {
        flex-wrap: wrap;
        text-align: center;
        line-height: 30px;
        margin-top: 40px;
        letter-spacing: 1px;
    }

    .titles {
        display: none;
    }

    .column_title {
        display: block;
    }

    .manager {
        margin-top: 0;
    }
}