.container {
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 240px auto 120px auto;
}

.title {
    font-size: 32px;
}

.title div {
    display: inline;
    font-weight: bold;
}

.services {
    width: calc(100% - 40px);
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.service_box {
    width: 25%;
    margin-top: 80px;
}

.service_icon {
    font-size: 30px;
    color: #000000bd;
}

.service_title {
    color: #000;
    margin: 20px 0 10px 0;
    font-size: 20px;
}

.service_description {
    line-height: 30px;
    color: #6c757d;
}

/* Responsive */

@media (max-width: 1024px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 1023px) {
    .container {
        width: 720px;
    }

    .service_box {
        width: 50%;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .container {
        width: calc(100% - 25px);
    }

    .service_box {
        width: 100%;
    }
}