.portfolio_container {
    width: 100%;
    background-color: #90a8af;
    display: flex;
    justify-content: center;
    padding: 110px 0;
}

.portfolio_box {
    display: flex;
    flex-direction: column;
    width: 1140px;
}

.title_box {
    font-size: 32px;
    text-align: center;
}

.columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.column {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
}

.work {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border: 10px solid #fff;
    cursor: pointer;
    position: relative;
}

.black_layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: .3s ease;
    opacity: 0;
}
.black_layer:hover {
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
}

.work_title {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 24px;
    position: relative;
    transition: .3s ease;
}

.work_category {
    font-size: 16px;
    color: #ccc;
    margin-top: 10px;
}

.more_btn {
    padding: 20px 25px;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    font-weight: bold;
    letter-spacing: 3px;
    width: fit-content;
    font-size: 14px;
    margin: 100px auto 0 auto;
}
.more_btn:hover {
    background-color: #fff;
    color: #000;
}

/* Responsive */

@media (max-width: 1025px) {
    .portfolio_box {
        width: 960px;
    }   
}

@media (max-width: 769px) {
    .portfolio_box {
        width: 720px;
    }

    .columns {
        flex-direction: column;
    }

    .column {
        width: calc(100% - 20px);
        margin-bottom: 25px;
    }
}

@media (max-width: 501px) {
    .portfolio_box {
        width: calc(100% - 25px);
    }

    .work {
        height: 350px !important;
    }
}

@media (max-width: 321PX) {
    .work {
        height: 300px !important;
    }
}